/*player*/

div.playerContainer{
  width: 100%;
  height: 100%;
  background: black;
  position: absolute;
  z-index: -50;
}

div.player{
  position: absolute;
  left: 30%;
  top: 25%;
  background: black;
}


/*Footer*/
div.footer{
  position: absolute;
  bottom: 0px;
}

div.footer div.form-group{
  margin: 0px 15px;
  z-index: 50;
}

div.footer button{
  z-index: 100;
}

/*video list */

div.well h4.title{
  color: black;
  margin-top: 0px;
  text-align: center;
}

div.well img{
  display: block;
  margin: auto;
}
