/*player*/

div.playerContainer{
  width: 100%;
  height: 100%;
  background: black;
  position: absolute;
  z-index: -50;
}

div.player{
  position: absolute;
  left: 28%;
  top: 25%;
  background: black;
}

div.player a.control{
  position: absolute;
  height: 30px;
  width: 30px;
  cursor: pointer;
  top: 45%;
}

div.player a.back{
  left: -30px;
  border-radius: 20px 0px 0px 20px;
}

div.player a.next{
  right: -30px;
  border-radius: 0px 20px 20px 0px;
}

div.player a.control span{
  margin-left: 8px;
  margin-top: 6px;
}

/*Footer*/
div.footer{
  position: fixed;
  bottom: 1px;
  z-index: 100;
}

div.footer div.form-group{
  margin: 0px 15px;
}

div.footer button{
  z-index: 150;
}

/*video list */

div.well h4.title{
  color: black;
  margin-top: 0px;
  text-align: center;
  height: 40px;
}

div.well img{
  display: block;
  margin: auto;
}
